
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using QuanLyVanBan.Models
@model List<LichSuThayDoi>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-6">
                @*  <h6 class="m-0 font-weight-bold text-primary">Danh sách đăng ký văn bản đi</h6>*@
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Danh sách văn bản đến
                </button>
                <ul class="dropdown-menu">
                    <li><a href="/VanBanDi/listVBdiDK?trangthai=0">Dự thảo</a></li>
                    <li><a href="/VanBanDi/listVBdiDK?trangthai=1">Tiểu đoàn duyệt</a></li>
                    <li><a href="/VanBanDi/listVBdiDK?trangthai=2">Tiểu đoàn đã duyệt</a></li>
                    <li><a href="/VanBanDi/listVBdiDK?trangthai=3">Đã đăng ký</a></li>
                </ul>
            </div>

            <div class="col-6">
                <h6>
                    <a class="btn btn-danger" style="float:right" href="/VanBanDi/createVBdi">Thêm mới</a>
                    @*<a class="btn btn-info" style="float:right" href="/VanBanDen/Create">Chuyển xử lý</a>*@

                </h6>
            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã</th>
                        <th>Nội dung</th>
                        <th>Thời gian</th>
                        <th>Cá nhân</th>
                        <th>Văn bản</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                    @foreach (LichSuThayDoi ls in Model)
                    {
                        <tr>
                            <td>@ls.MaThayDoi</td>
                            <td>@ls.NoiDung</td>
                            <td>@ls.ThoiGianThucHien</td>
                            <td>@ls.MaCaNhan</td>
                            @if (ls.MaVanBanDen == null)
                {
                            <td>@ls.MaVanBanDi</td>
                }
else
                {
                    <td>@ls.MaVanBanDen</td>
                }
                            
                           
                            <td>
                                <div class="d-flex" style="gap:6px">
                                    @if (ls.MaVanBanDen == null)
                                    { 
                                        <a class="btn btn-info btn-sm" href="/VanBanDi/Detail?mavb=@ls.MaVanBanDi">
                                            <i class="fa fa-info"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-info btn-sm" href="/VanBanDen/Detail/@ls.MaVanBanDen">
                                            <i class="fa fa-info"></i>
                                        </a>
                                    }
                                   

                                </div>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
