
@{
    ViewBag.Title = "UpdateVBDI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using QuanLyVanBan.Models
@model VanBanDi
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thêm mới văn bản đi</h6>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <form method="post" enctype="multipart/form-data" action="/VanBanDi/Update?mavb=@Model.MaVanBanDi">

                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label>Số văn bản</label>
                            <input class="form-control" type="text" value="@Model.SoVanBan" name="SoVanBan" id="SoVanBan" />
                        </div>
                        <div class="form-group">
                            <label>Ngày văn bản</label>
                            <input class="form-control" type="date" name="NgayVanBan" value="@Model.NgayVanBan" id="NgayVanBan" />
                        </div>
                        <div class="form-group">
                            <label>Ký hiệu văn bản</label>
                            <input class="form-control" type="text" name="KyHieuVanBan" value="@Model.KyHieuVanBan" id="KyHieuVanBan" />
                        </div>
                        <div class="form-group">
                            <label>Đơn vị nhân</label>
                            <input class="form-control" type="text" name="DonViNhan" value="@Model.DonViNhan" id="DonViNhan" />
                        </div>
                        <div class="form-group">
                            <label for="NgonNgu">Ngôn ngữ</label>
                            <select class="form-control"  name="NgonNgu" id="NgonNgu">
                                <option value="Tiếng Anh" >Tiếng Anh</option>
                                <option value="Tiếng Việt" >Tiếng Việt</option>
                            </select>
                        </div>


                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Trạng thái</label>
                            <input class="form-control" type="text" name="TrangThai" value="@Model.TrangThai" id="TrangThai" />
                        </div>
                        <div class="form-group">
                            <label>Số bản</label>
                            <input class="form-control" type="text" name="SoBan" value="@Model.SoBan" id="SoBan" />
                        </div>
                        <div class="form-group">
                            <label>Họ tên người ký</label>
                            <input class="form-control" type="text" name="HoTenNguoiKy" value="@Model.HoTenNguoiKy" id="HotenNguoiKy" />
                        </div>
                        <div class="form-group">
                            <label for="LinhVuc">Lĩnh vực</label>
                            <select class="form-control"  name="MaLinhVuc" id="LinhVuc">
                                <option value="1" >Chính trị</option>
                                <option value="2" >Quân sự - Hành chính</option>
                                <option value="3" >Hậu cần - Kĩ thuật</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="DoKhan">Độ khẩn</label>
                            <select class="form-control"  name="MaDoKhan" id="DoKhan">
                                <option value="1" >Hỏa tốc</option>
                                <option value="2" >Thượng khẩn</option>
                                <option value="3" >Khẩn</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Số hồ sơ</label>
                            <input class="form-control" type="text" value="@Model.SoHoSo" name="SoHoSo" id="SoHoSo" />
                        </div>
                        <div class="form-group">
                            <label>Số tờ</label>
                            <input class="form-control" type="text" value="@Model.SoTo" name="SoTo" id="SoTo" />
                        </div>
                        <div class="form-group">
                            <label>Chức vụ người ký</label>
                            <input class="form-control" type="text" name="ChucVuNguoiKy" value="@Model.ChucVuNguoiKy" id="ChucVuNguoiKy" />
                        </div>
                        <div class="form-group">
                            <label for="LoaiVanBan">Loại văn bản</label>
                            <select class="form-control"  name="MaLoaiVanBan" id="LoaiVanBan">

                                <option value="1" >Nghị quyết</option>
                                <option value="2" >Quyết định</option>
                                <option value="3" >Chỉ thị</option>
                                <option value="4" >Thông báo</option>
                                <option value="5" >Công văn</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="DoMat">Độ mật</label>
                            <select class="form-control"  name="MaDoMat" id="DoMat">
                                <option value="1" >Tuyệt mật</option>
                                <option value="2" >Tối mật</option>
                                <option value="3" >Mật</option>


                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label>Ghi chú</label>
                            <input class="form-control" type="text" value="@Model.GhiChu" name="GhiChu" id="GhiChu" />
                        </div>
                        <div class="form-group">
                            <label>Trích yếu</label>
                            <textarea class="form-control" rows="3" name="TrichYeu" id="TrichYeu">@Model.TrichYeu</textarea>
                        </div>
                        <div class="form-group">
                            <label>File đính kèm</label>
                            <input type="file" name="file" class="form-control-file" id="file" />
                        </div>
                        <textarea id="data" name="content">
    
                        </textarea>
                        <button type="submit" class="btn btn-success btn-sm">Chỉnh sửa</button>
                        <a href="@Url.Action("GetList", "VanBanDen")"><i class="btn btn-warning btn-sm">Quay lại</i></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
     (function () {
         document.getElementById("LoaiVanBan").selectedIndex = "@(Int16.Parse(Model.MaLoaiVanBan)-1)";
         document.getElementById("LinhVuc").selectedIndex = "@(Int16.Parse(Model.MaLoaiVanBan)-1)";
    }())
    tinymce.init({
        selector: '#data',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
        ],
        height: "1000",
        init_instance_callback: function (editor) {
           var txt = document.createElement("textarea");
            txt.innerHTML = `@(Model.NoiDung)`;
            editor.setContent(txt.value);


        }
    });




</script>

