
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using QuanLyVanBan.Models;
@model  VanBanDen
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Chi tiết văn bản</h6>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <form method="post" action="/VanBanDen/EditVanBan">

                <div class="row">
                    <div class="col-4">
                        <div class="form-group">

                            <label>Số văn bản</label>
                            <input class="form-control" type="text" name="SoVanBan" value="@Model.SoVanBan" id="SoVanBan" />
                            <input hidden class="form-control" type="text" name="MaVanBanDen" value="@Model.MaVanBanDen" id="MaVanBanDen" />
                        </div>
                        <div class="form-group">
                            <label>Ngày văn bản</label>
                            <input class="form-control" type="date" value="@Model.NgayVanBan" id="NgayVanBan" />
                        </div>
                        <div class="form-group">
                            <label>Ký hiệu văn bản</label>
                            <input class="form-control" type="text" value="@Model.KyHieuVanBan" id="KyHieuVanBan" />
                        </div>
                        <div class="form-group">
                            <label>Tình trạng văn bản</label>
                            <input class="form-control" type="text" value="@Model.TinhTrang" id="TinhTrangVanBan" />
                        </div>
                        <div class="form-group">
                            <label>Cơ quan phát hành</label>
                            <input class="form-control" type="text" value="@Model.CoQuanBanHanh" id="CoQuanPhatHanh" />
                        </div>
                        <div class="form-group">
                            <label for="NgonNgu">Ngôn ngữ</label>
                            <select class="form-control" value="@Model.NgonNgu" id="NgonNgu">
                                <option selected>Tiếng Anh</option>
                                <option>Tiếng Việt</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="DoMat">Độ mật</label>
                            <select class="form-control" value="@Model.MaDoMat" id="DoMat">
                                <option selected>Mật</option>
                                <option>Tuyệt mật</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Trạng thái văn bản</label>
                            <input class="form-control" type="text" value="@Model.TrangThaiVanBan" id="TrangThaiVanBan" />
                        </div>
                        <div class="form-group">
                            <label>Ngày đến</label>
                            <input class="form-control" type="date" value="@Model.NgayDen" id="NgayDen" />
                        </div>
                        <div class="form-group">
                            <label>Số bản</label>
                            <input class="form-control" type="text" value="@Model.SoBan" id="SoBan" />
                        </div>
                        <div class="form-group">
                            <label>Họ tên người ký</label>
                            <input class="form-control" type="text" value="@Model.HoTenNguoiKy" id="HotenNguoiKy" />
                        </div>
                        <div class="form-group">
                            <label>Thủ trưởng duyệt</label>
                            <input class="form-control" type="text" value="@Model.ThuTruongDuyet" id="ThuTruongDuyet" />
                        </div>
                        <div class="form-group">
                            <label for="LinhVuc">Lĩnh vực</label>
                            <select class="form-control" value="@Model.MaLinhVuc" id="LinhVuc">
                                <option selected>CTĐ-CTCT</option>
                                <option>CNTT</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="DoKhan">Độ khẩn</label>
                            <select class="form-control" value="@Model.MaDoKhan" id="DoKhan">
                                <option selected>Thường</option>
                                <option>Hỏa tốc</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Trạng thái xử lý</label>
                            <input class="form-control" type="text" value="@Model.TrangThaiXuLy" id="TrangThaiXuLy" />
                        </div>
                        <div class="form-group">
                            <label>Hạn giải quyết</label>
                            <input class="form-control" type="date" value="@Model.HanGiaiQuyet" id="HanGiaiQuyet" />
                        </div>
                        <div class="form-group">
                            <label>Số tờ</label>
                            <input class="form-control" type="text" value="@Model.SoTo" id="SoTo" />
                        </div>
                        <div class="form-group">
                            <label>Chức vụ người ký</label>
                            <input class="form-control" type="text" value="@Model.ChucVuNguoiKy" id="ChucVuNguoiKy" />
                        </div>
                        <div class="form-group">
                            <label>Số hồ sơ</label>
                            <input class="form-control" type="text" value="@Model.SoHoSo" id="SoHoSo" />
                        </div>
                        <div class="form-group">
                            <label for="LoaiVanBan">Loại văn bản</label>
                            <select class="form-control" value="@Model.MaLoaiVanBan" id="LoaiVanBan">
                                <option selected>Công văn</option>
                                <option>Nghị quyết</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Ngày trả bảo mật</label>
                            <input class="form-control" type="date" value="@Model.NgayTraBaoMat" id="NgayTraBaoMat" />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label>Ghi chú</label>
                            <input class="form-control" type="text" value="@Model.GhiChu" id="GhiChu" />
                        </div>
                        <div class="form-group">
                            <label>Trích yếu</label>
                            <textarea class="form-control" rows="3" value="@Model.TrichYeu" id="TrichYeu"></textarea>
                        </div>
                        <div class="form-group">
                            <label>File đính kèm</label>
                            <input type="file" class="form-control-file" id="file" />
                        </div>
                        <button type="submit" class="btn btn-success btn-sm" >Lưu</button>
                        <button type="button" class="btn btn-info btn-sm" onclick="setState(@Model.MaVanBanDen)">Phê duyệt</button>
                        <a href="@Url.Action("GetList", "VanBanDen")"><i class="btn btn-warning btn-sm">Back</i></a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<script>
    const editVB = (id) => {
        const maVBden = $('#MaVanBanDen').val();
        const soVB = $('#SoVanBan').val();
        const ngayVB = $('#NgayVanBan').val();
        const kyHieuVB = $('#KyHieuVanBan').val();
        const tinhTrangVB = $('#TinhTrangVanBan').val();
        const cquanPH = $('#CoQuanPhatHanh').val();
        const ngonNgu = $('#NgonNgu').val();
        const doMat = $('#DoMat').val();
        const trangThaiVB = $('#TrangThaiVanBan').val();
        const ngayDen = $('#NgayDen').val();
        const soBan = $('#SoBan').val();
        const hoTenNguoiKy = $('#HoTenNguoiKy').val();
        const thuTruongDuyet = $('#ThuTruongDuyet').val();
        const linhVuc = $('#LinhVuc').val();
        const doKhan = $('#DoKhan').val();
        const trangThaiXuLy = $('#TrangThaiXuLy').val();
        const hanGiaiQuyet = $('#HanGiaiQuyet').val();
        const soTo = $('#SoTo').val();
        const chucVuNguoiKy = $('#ChucVuNguoiKy').val();
        const soHoSo = $('#SoHoSo').val();
        const loaiVB = $('#LoaiVanBan').val();
        const ngayTraBM = $('#NgayTraBaoMat').val();
        const ghiChu = $('#GhiChu').val();
        const trichYeu = $('#TrichYeu').val();

        $.ajax({
            type: "POST",
            url: "/VanBanDen/EditVanBan",
            data: {
                MaVanBanDen: maVBden,
                SoVanBan: parseInt(soVB, 10), ngayVB, kyHieuVB, tinhTrangVB, cquanPH, ngonNgu, doMat, trangThaiVB
                , ngayDen, soBan, hoTenNguoiKy, hoTenNguoiKy, thuTruongDuyet, linhVuc, doKhan, trangThaiXuLy, hanGiaiQuyet,
                soTo, chucVuNguoiKy, soHoSo, loaiVB, ngayTraBM, ghiChu, trichYeu
            },
            success: function (data) {
                alert("ok");
                console.log(maVBden);
                window.location = data.url;

            },
            error: function (data) {
                alert('Thêm mới không thành công')
            }

        })
    }
    const setState = (id) => {
        var trangThaiXuLy = $('#TrangThaiXuLy').val();
        /*  console.log(trangThaiXuLy);*/
        trangThaiXuLy = 3;
        console.log(trangThaiXuLy)
        $.ajax({
            success: function () {
                alert(trangThaiXuLy);
                window.location.href = "/VanBanDen/VBCanXuLy";

            },
            error: function (data) {
                alert('Thêm mới không thành công')
            }

        })
    }
</script>


