
@*@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách văn bản đến</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã văn bản</th>
                            <th>Số văn bản</th>
                            <th>Ngày văn bản</th>
                            <th>Cơ quan phát hành</th>
                            <th>Loại văn bản</th>
                            <th>Trích yếu</th>
                            <th>Số bản</th>
                            <th>Số tờ</th>
                            <th>Độ mật</th>
                            <th>Độ khẩn</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody>
                        @foreach (var vb in Model)
                        {
                            <tr>
                                <td>@vb.MaVanBanDen</td>
                                <td>@vb.SoVanBan</td>
                                <td>@vb.NgayVanBan</td>
                                <td>@vb.CoQuanBanHanh</td>
                                <td>@vb.MaLoaiVanBan</td>
                                <td>@vb.TrichYeu</td>
                                <td>@vb.SoBan</td>
                                <td>@vb.SoTo</td>
                                <td>@vb.MaDoMat</td>
                                <td>@vb.MaDoKhan</td>
                                <td>
                                    <div>
                                        <a>
                                            <i class="btn btn-warning btn-sm">Detail</i>
                                        </a>
                                        <a>
                                            <i class="btn btn-warning btn-sm">Edit</i>
                                        </a>
                                        <a onclick="xoaVB(@vb.MaVanBanDen)">
                                            <i class="btn btn-danger btn-sm">Delete</i>
                                        </a>

                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(function GetlistVBDen() {
                $.ajax({
                    type: "POST",

                    url: "/VanBanDen/GetList",

                    success: function (data) {
                        $('.list-vbden').html(data);

                    },
                    error: function (data) {
                    }

                })
            });
        });
        const xoaVB = (id) => {
            console.log(id)
            $.ajax({
                type: "POST",

                url: "/VanBanDen/Delete",
                data: { id: id },

                success: function (data) {
                    alert("Xóa thành công")

                },
                error: function (data) {
                }

            })
        }
    </script>
</body>
</html>*@